.figure-img {
    display: inline-block;
    background: rgba(241, 243, 244, .24);
    padding: 1rem;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;

    & img {
        max-width: 100%;
        height: auto;
        border-radius: 5px 5px 0 0;
    }

    & figcaption {
        padding: 10px;
        background-color: #f5f5f5;
        border-radius: 0 0 5px 5px;
    }
}











@media (min-width:767px) {
    
    .figure-img {
      width: 23%;
    }
}