.mobile-show {
    display: block;
    transition: 0.5ms;
}

.mobile-hide {
    display: none;
}

.sidebar-case {
    /* display: block; */
    position: fixed;
    top: 10%;
    left: 0;
    height: 95vh;
    background-color: var(--background);
    color: white;
    padding: 0 3rem;
    text-align: left;
    z-index: 2;
    transition: width 0.5s ease;
}



.single-navcase {
    display: flex;
    gap: 1.5rem;
    margin-top: 5rem;
    cursor: pointer;
    padding: 1.5rem;

}

.single-navcase:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


@media (min-width:767px) {
    .sidebar-case {
        display: block;
    }
}